
    <div class="container">
        <h2>Business Contacs</h2>
        <div *ngIf="appState == 'default'" class="row">
  <div class="large-6 columns">
    <button class="button" (click)="changeState('add')">Add Business</button>
  </div>
  <div class="large-6 columns">
    <label> Filter Category
      <select (change)="filterCategory(filteredCategory.value)" #filteredCategory>
        <option value="0">Select</option>
        <option *ngFor="let category of categories" value="{{category.name}}">
          {{category.name}}
        </option>
        </select>
    </label>
  </div>
</div>
        <div *ngIf="appState == 'extend'">
  <div class="row">
    <div class="large-12 large-1-offset columns">
      <button class="button alert" (click)="changeState('default')">Go back</button>  
    </div>  
  </div>
  <div *ngFor="let business of businesses">
    <div *ngIf="business.$key == activeKey">
      <div class="row">
        <div class="large-5 columns large-offset-1">
          <h3>{{business.company}}</h3>
          <p>Category: {{business.category}}</p>
          <p>Years In Business: {{business.years_in_business}}
          <p>{{business.description}}</p>
        </div>  
        
        <div class="large-5 columns large-offset-1">
          <h4>Contact Info</h4>
          <ul>
            <li>Phone: {{business.phone}}</li>  
            <li>Email: {{business.email}}</li>  
            <li>Street: {{business.street_address}}</li>  
            <li>City: {{business.city}}</li>  
            <li>State: {{business.state}}</li>  
            <li>Zipcode: {{business.zipcode}}</li>  
          </ul>
        </div> 
      </div>  
    </div> 
  </div>
</div>
        <div *ngIf="appState == 'default'" class="row">
            <div class="col-lg-12">
                <button class="btn btn-danger" (click)="changeState('add')">Add new business</button>
            </div>
        </div>
        <div *ngIf="appState == 'add'">
            <div class="panel panel-primary">
                <div class="panel-heading">Add new Business</div>
                <div class="panel-body">
                    <form (submit)="addBusiness(company.value, select.value, phone.value)">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="company">Company:</label>
                                    <input type="text" class="form-control" #company>
                                </div>
                                <label for="sel1">Select list (select one):</label>
                                <select class="form-control" #select>
                                    <option class="form-control" value="0">Select</option>
                                    <option class="form-control" *ngFor="let category of categories" value="{{category.name}}">
                                        {{category.name}}
                                    </option>
                                </select>
                                <div class="form-group">
                                    <label for="phone">Phone:</label>
                                    <input type="text" class="form-control" #phone>
                                </div>
                                <button type="submit" class="btn btn-danger">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Category</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let business of businesses">
                    <td>{{business.company}}</td>
                    <td>{{business.category}}</td>
                    <td>{{business.phone}}</td>
                    <button (click)="changeState('extend', 'business.$key')" class="btn btn-info">More</button>
                </tr>
            </tbody>
        </table>
    </div>
